.image-section
{
    display: flex;
    justify-content: center;
}

img 
{
    width: calc(150px + 10vw);
}

.general-instructions
{
    background-color: #C4F5D0;
    color: #248A3D;

    font-family: 'Inter', sans-serif;
    font-size: calc(5px + 2vw);
    font-weight: 500;

    margin: 15px calc(15px + 3vw) 15px calc(15px + 3vw);
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #248A3D;
}

.general-instructions div
{
    margin-bottom: 7px;
}

.musclegroup-name
{
    height: 7vw;

    background-color: #FF6961;
    color: #fff;

    font-family: 'Inter', sans-serif;
    font-size: calc(5px + 2vw);
    font-weight: 700;

    margin: 15px calc(15px + 3vw) 15px calc(15px + 3vw);

    display: flex;
    justify-content: center;
    line-height: 7vw;
    border-radius: 1vw;
}

.youtube-icon
{
    margin-top: -1%;
    margin-left: 5px;
    font-size: 25px;
}

.youtube-icon a
{
    color: #D70002;
    text-decoration: none;
}

.workout-card
{
    border: 2px solid #EDEDED;
    background-color: #FAFAFA;
    margin: 0 calc(15px + 3vw) 15px calc(15px + 3vw);
    padding: calc(10px + 1vw)  0 calc(10px + 1vw) 0;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
}


.workout-name
{
    background-color:#FFDFDD;
    text-align: center;
    border-radius: 15px;
    font-family: 'inter';
    font-weight: 400;
    padding: 20px 20px 10px 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}